/***********************************************************************
FSWD:  Christopher B. Zenner
Date:  09/06/2020
File:  style.scss -> style.css
Ver.:  0.1.0 20200906

This SCSS specifies the layout and style for the Project React component of my developer portfolio.
***********************************************************************/
@use '../../assets/styles/colors/pantone-ponder-palette' as ponder;
@use '../../assets/styles/colors/portfolio-colors' as colors;
@use '../../assets/styles/mixins/hover-images' as images;

div a {
  color: ponder.$classic-blue;

  &:active, &:focus, &:hover {
    color: colors.$almost-black;
    text-decoration: none;
  }
}

figure {
  @include images.hover-images;

  font-size: 1.2rem;
  font-weight: 600;
}

.lang, .tech {
  font-size: 1rem;
}

.repo {
  font-size: 0.9rem;
  padding-top: 1rem;

  a {
    .github-icon {
      font-size: 1rem;
      margin-right: 3px;
    }
  }
}
