/***********************************************************************
FSWD:  Christopher B. Zenner
Date:  09/11/2020
File:  style.scss -> style.css
Ver.:  0.1.0 20200911

This SCSS specifies the layout and style for the ContactForm React component of my developer portfolio.
***********************************************************************/
@use '../../assets/styles/colors/pantone-ponder-palette' as ponder;
@use '../../assets/styles/colors/pantone-snorkel-palette' as snorkel;

form {
  label {
    color: snorkel.$pirate-black;
    font-weight: 700;
  }

  .form-control {
    border-color: ponder.$monument;

    &:active, &:focus, &:hover {
      border-color: snorkel.$classic-blue;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 
        0 0 8px rgba(15, 76, 129, 1);      
    }

    &::placeholder {
      // PANTONE® Monument
      color: rgba(132, 137, 140, 0.5);
    }
  }

  .btn {
    /*
      NOTE: The `border-radius` setting is **not** a mistake. It is set
            so to ensure the button always have a consistent pill shape.
            Thanks to Chad Ostrowski for [this idea][pill-btn-url].

      [pill-btn-url]: https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units/
    */
    border-radius: 1000px;
    font-weight: 700;
    margin: 0 0.3125rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .btn-outline-submit {
    border-color: snorkel.$classic-blue;
    color: snorkel.$classic-blue;

    &:active, &:focus, &:hover {
      background-color: snorkel.$classic-blue;
      color: white;
    }
  }

  .btn-outline-reset {
    border-color: snorkel.$coralessence;
    color: snorkel.$coralessence;

    &:active, &:focus, &:hover {
      background-color: snorkel.$coralessence;
      color: white;
    }
  }
}

.text-muted {
  color: snorkel.$pirate-black;
}
