/***********************************************************************
 [freepikcompany Classic Blues Palette](https://www.freepik.com/blog/pantone-just-announced-color-the-year-2020/)
***********************************************************************/

$darkest-classic-blue: #082742;
$darker-classic-blue: #0D3E69;
$pantone-classic-blue: #0F4C81;
$lighter-classic-blue: #11548F;
$lightest-classic-blue: #197ACF;
