/***********************************************************************
 [PANTONE® Ponder Palette](https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2020-palette-exploration)
***********************************************************************/

$classic-blue: #0F4C81;
$provence: #658DC6;
$baby-blue: #B5C7D3;
$monument: #84898C;
$stucco: #A58D7F;
$peach-quartz: #F5B895;
$cornhusk: #F3D5AD;
