/***********************************************************************
 [PANTONE® Snorkel Palette](https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2020-palette-exploration)
***********************************************************************/

$classic-blue: #0F4C81;
$coralessence: #F26B5B;
$lime-punch: #C0D725;
$jasmine-green: #7FC844;
$cashmere-blue: #A5B8D0;
$coconut-milk: #F1EEE6;
$pirate-black: #373838;
