/***********************************************************************
 Portfolio Colors
***********************************************************************/

$almost-black: #060909;
$seriously-gray: #4E595F;
$slightly-gray: #EEE;
