/***********************************************************************
FSWD:  Christopher B. Zenner
Date:  09/01/2020
File:  style.scss -> style.css
Ver.:  0.1.0 20200901
       0.2.0 20200914

This SCSS specifies the layout and style for the Intro React component 
of my developer portfolio.
***********************************************************************/

#intro {
  height: 100%;

  .name {
    color: white;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.25em;
    margin-bottom: 3rem;
  }

  .pers-stmt {
    color: inherit;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.25em;
  }

  .title {
    font-family: 'Inconsolata', monospace;
  }
}

@media (max-width: 991.98px) {
  #intro {
    padding-bottom: 3rem;
  }
}

@media (max-width: 767.98px) {
  #intro {
    span {
      display: block;
    }
  }
}
