/***********************************************************************
FSWD:  Christopher B. Zenner
Date:  08/30/2020
File:  style.scss -> style.css
Ver.:  0.1.0 20200830

This SCSS specifies the layout and style for the Header React component of my developer portfolio.
***********************************************************************/
@use '../../assets/styles/colors/pantone-snorkel-palette' as snorkel;
@use '../../assets/styles/mixins/razor-edge-container' as container;

header {
  margin-bottom: 15rem;

  #intro-container {
    @include container.razor-edge(
      snorkel.$classic-blue, 2rem, 3rem, top right, -7deg);
  }
}

/*
  NOTE: This media query represents the maximum width of an iPhone 6,
        which should scale nicely on most mobile phones.
*/
@media (max-width: 375px) {
  header {
    margin-bottom: 7rem;
  }
}
