/***********************************************************************
FSWD:  Christopher B. Zenner
Date:  08/30/2020
File:  style.scss -> style.css
Ver.:  0.1.0 20200830

This SCSS specifies the layout and style for the Header React component of my developer portfolio.
***********************************************************************/
@use '../../assets/styles/colors/pantone-snorkel-palette' as snorkel;
@use '../../assets/styles/components/razor-edge-container' as container;

header {
  @include container.razor-edge(
    snorkel.$classic-blue, 2rem, 3rem, top right, -7deg);

  margin-bottom: 15rem;
}
