/***********************************************************************
FSWD:  Christopher B. Zenner
Date:  08/29/2020
File:  style.scss -> style.css
Ver.:  0.1.0 20200829

This SCSS specifies the layout and style of the global elements of my developer portfolio.
***********************************************************************/
@use '../colors/pantone-ponder-palette' as ponder;
@use '../colors/pantone-snorkel-palette' as snorkel;
@use '../colors/portfolio-colors' as colors;
@use '../fonts/portfolio-fonts' as fonts;
@use '../fonts/css-tricks-fluid-type' as tricks;
@use '../mixins/rounded-bottom-borders' as borders;

/***********************************************************************
 Global Elements
***********************************************************************/
$max-font: 18px;
$max-width: 1280px;
$min-font: 15px;
$min-width: 320px;

html {
  scroll-behavior: smooth;

  @include tricks.fluid-type(
    $min-width, $max-width, $min-font, $max-font);
}

body {
  background-color: white;
  color: ponder.$monument;
  font-family: fonts.$sans-serif-font-stack;
  line-height: 1.5em;
}

h1 {
  @include borders.rounded-bottom-border(colors.$slightly-gray, 2px);

  color: snorkel.$pirate-black;
}

.btn {
  /*
    NOTE: The `border-radius` setting is **not** a mistake. It is set
          so to ensure the button always have a consistent pill shape.
          Thanks to Chad Ostrowski for [this idea][pill-btn-url].

    [pill-btn-url]: https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units/
  */
  border-radius: 1000px;
  font-weight: 700;
  margin: 0 0.3125rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (prefers-reduced-motion: reduce) {
  /*
    Disable smooth scrolling when prefers-reduced-motion is enabled.
  */  
  html {
		scroll-behavior: auto;
	}
}
